
body{
background-color: #000000;
display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh
}

.capa-tela{
background-color:#1a1a1a ;
padding: 50px 40px;
border-radius: 10px;
box-shadow: 0 10px 30px rgba(49, 49, 49, 0.9);

}

.capa-tela{
 color: rgb(255, 255, 255);
}
.btn-entrar{
 background-color: rgb(0, 0, 0);
 border-radius: 5px;
 padding: 20px 100px;
 border: none;
 color: aliceblue;
}